<div class="content">
    <h1>FAQ</h1>
    <h2>What is this thing?</h2>
    <p>It's a public service announcement. You've most likely been linked here because you were thinking about asking
    out or hooking up with your barista (or someone else who you regularly interact with; see the page you were linked
    to). You should, uh... not do that.</p>

    <h2>Why not?</h2>
    <p>Because they don't want you to. I guarantee it. Your barista is being paid to be nice to you - they're
    not flirting. They are, in fact, just waiting for you to shut up and go away so they can serve the person waiting
    <em>very</em> patiently behind you.</p>

    <h2>But this is different!</h2>
    <p>No it's not. Don't do it.</p>

    <h2>But what--</h2>
    <p>No. Literally just no.</p>

    <h2>I'm going to do it anyway!</h2>
    <p>Don't blame me when someone calls you a dick and you get a hard rejection.</p>
</div>