<main class="should-i">
    <h1>Should I hook up with my <span class="type"><%= type %></span>?</h1>
    <h2>NO.</h2>
    <p class="large">No you should not.</p>
    <p>Don't ask them out, either. Seriously.</p>
    <footer><a href="/what">What's this?</a></footer>
</main>