<div class="content">
    <h1>What's this?</h1>
    <p>This is a public service announcement, prompted by the disproportionate number of men who seem to think it's
        appropriate to harass good-looking women wherever and whenever they please. (Hint: it's not.)</p>
    <p>Feel free to link to this site as far and wide as you wish to. If you have encountered someone proposing to
        inappropriately hook up with or ask out someone other than a barista, you can append a title for their unfortunate
        target to the end of the URL: <a href="https://shouldihookupwithmybarista.com/cashier">https://shouldihookupwithmybarista.com/cashier</a>,
        for example. (If it's more than one word, join them with hyphens - the hyphens will be replaced with spaces on the site.)</p>
    <p>Made by <a href="https://twitter.com/_ArtOfCode">ArtOfCode</a>, code
    <a href="https://github.com/ArtOfCode-/shouldihookupwithmybarista.com">on GitHub</a>.</p>
</div>