<main class="should-i">
    <h1>Should I hook up with my <span class="type"><%= type %></span>?</h1>
    <h2>YES.</h2>
    <p class="large">If they're okay with it.</p>
    <p>Seriously. Make sure they're okay with it.</p>
    <footer><a href="/what">What's this?</a> &middot; <a href="/faq">FAQ</a></footer>
</main>